[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "http://python.bitcathedrals.com/simple"
verify_ssl = false
name = "bitcathedrals"

[global]
trusted-host = "python.bitcathedrals.com"

[packages]
boto3 = "1.24.5"

cfconfig = {version = "0.6.0", index = "bitcathedrals"}

[dev-packages]
pytest = "*"
black = "*"
awscliv2 = "*"
build = "*"

[requires]
python_version = "3.10"
